<!-- /.navbar-top-links -->
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
          <a href="{% url 'rasbase-dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
      <li>
          <a href="{% url 'rasbase-search' %}"><i class="fa fa-search fa-fw"></i> Search</a>
      </li>
      <li>
          <a href="{% url 'rasbase-results' %}"><i class="fa fa-sitemap fa-fw"></i> Results</a>
          <!-- /.nav-second-level -->
      </li>
      <li>
          <a href="{% url 'rasbase-results' %}"><i class="fa fa-question-circle fa-fw"></i> FAQ</a>
          <!-- /.nav-second-level -->
      </li>
      <li>
          <a href="{% url 'rasbase-about' %}"><i class="fa fa-users fa-fw"></i> About Us</a>
          <!-- /.nav-second-level -->
      </li>
      {% if user.is_authenticated %}
        <li class="divider"></li>
        <li class="divider"></li>
        <li class="divider"></li>
        <li class="divider"></li>
        <li>
          <a href="#"><i class="fa fa-search fa-fw"></i> Search {{ user.submitter.project_name }}</a>
        </li>
      {% endif %}
    </ul>

  </div>

    <!-- /.sidebar-collapse -->
</div>
